@font-face {
	font-family: 'Atkinson Hyperlegible';
    src: url(/AtkinsonHyperlegibleMono-VariableFont_wght.ttf) format('truetype');
}
html {
    font-family: Atkinson Hyperlegible;
    color: #dcf8f4;
    background-color:#202e2c;
}
